body {
font-family: Helvetica;
  text-align: center;
  }

h1 {
font-size: 70px;
font-weight: bold;
color: white;
}

h4 {
  font-size:18px;
  color: white;
}


.header {
  background-image: url("../images/the-flatiron-building.png");
}
.logo {
  background-image: url("../images/the-flatiron-building.png");
}











#footer {
  font-family: Helvetica;
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
