body {
  text-align: center;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
}
.logo {
  background-image: url("../images/the-flatiron-building.png");
}











#footer {
  font-family: Helvetica;
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
